extends layout

block content
  h1= title
  - var image_names = ['w1', 'w2', 'w3', 'w4', 'w5']
  - var height = 200
  - var width = 200
  - var displayedImages = []
  while displayedImages.length < 3
    - var randomIndex = Math.floor(Math.random() * 5)
    - var randomImage = image_names[randomIndex]
    - if (!displayedImages.includes(randomImage))
      - displayedImages.push(randomImage)
      img(
        src=`/images/${randomImage}.jpg`,
        alt=`${randomImage}`,
        height=height,
        width=width
      )
