extends layout

block content
  - let results = [{ watercraft_type: 'Canoe', length: 4.5, maximum_capacity: 2 },{ watercraft_type: ' Yacht', length: 20, maximum_capacity: 10 },{ watercraft_type: 'Ferry', length: 50, maximum_capacity: 200 }]

  .container-fluid
    .row
      each item, index in results
        .col-sm-4
          .craft(onclick=`buy(${index})`)
            h1 #{item.watercraft_type}
            p length: #{item.length}
            p maximum_capacity: #{item.maximum_capacity}
          .col-sm-2
            p watercraft_type: #{item.watercraft_type}
            p length: #{item.length}
            p maximum_capacity: #{item.maximum_capacity}
    script.
        function buy(index) {
            alert("You purchased item " + index);
        }